# Compiled Object files
*.o

# Ignore all text files
message.txt

# Ignore all documentation
Docs/

# Ignore executable
GameBoy

# Ignore commit message file
message

# Ignore pre-complied headers
*.gch
 
